<h1>Friends</h1>

<% friends.forEach(function(friend){ %>
    <li><%= friend %></li>
<% }) %>

<form action="/addFriend" method="POST">
    <input type="text" placeholder="name" name="newFriend">
    <button>I made a new Friend</button>
</form>